header#hero {
  background: #fff3e0 url(_images/dog-resting-amongst-mountains.jpg) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  section#slogan {
    width: 100%;
    padding: 30px 10px;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    transition: all 0.3s ease;
    h1 {
      font-family: 'PT Serif', Georgia, serif;
      color: #fff;
      font-size: 4em;
      padding-bottom: 0.2em;
      transition: all 0.3s ease;
      line-height: 1em;
    }
    h2 {
      font-family: 'Montserrat', Arial, sans-serif;
      font-weight: 200;
      color: #fff;
      font-size: 1.5em;
      transition: all 0.3s ease;
    }
  }
}



header#hero-alt {
  img.head-img {
    margin-top: 50px;
    width: 100%;

  }
}
