header#hero {
  background: url("_images/dog-resting-amongst-mountains.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;


  // works'ish - still does not scroll
  // absolute pos results in about section moving
  // up behind intro
  // background-image: url(_images/dog-resting-amongst-mountains.jpg);
  // background-size: cover;
  // display: flex;
  // flex-direction: column;
  position: relative;
  // height: 100%;
  // height: 100vh;
  width: 100%;
  // align-items: center;
  // justify-content: center;


  section#slogan {
    width: 100%;
    padding: 30px 10px;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    transition: all 0.3s ease;
    h1 {
      font-family: 'PT Serif', Georgia, serif;
      color: #fff;
      font-size: 4em;
      padding-bottom: 0.2em;
      transition: all 0.3s ease;
      line-height: 1em;
    }
    h2 {
      font-family: 'Montserrat', Arial, sans-serif;
      font-weight: 200;
      color: #fff;
      font-size: 1.5em;
      transition: all 0.3s ease;
    }
  }
}



header#hero-alt {
  img.head-img {
    display: block;
    margin-top: 50px;
    width: 100%;
  }
  img.head-img-mobile {
    display: none;
  }
}


@media screen and (max-width: 780px) {

  header#hero {
    background: url("_images/dog-resting-amongst-mountains_mobile.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }

  header#hero-alt {
    img.head-img {
      display: none;
    }
    img.head-img-mobile {
      display: block;
      width: 100%;
      margin-top: 50px;
    }    
  }


}