img.logo {
    position: fixed;
    z-index: 9;
    top: 10px;
    left: 40px;
    width: 100%;
    max-width: 200px;
}
span.nav-phone {
    position: fixed;
    font-family: 'PT Sans', Arial, sans-serif;
    top: 10px;
    right: 50px;
    z-index: 8;
    color: #333;
    i.fa-phone-square {
        padding-right: 10px;
    }
}

.lg-nav {
    list-style: none;
    font-family: 'PT Sans', Arial, sans-serif;
    margin-bottom: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    background: rgba(255,255,255,1);
    display: flex;
    justify-content: center;
    z-index: 5;
    box-shadow: 0px 5px 7px 2px rgba(0,0,0,0.36);
    li {
        // float: left;
        margin-right: 30px;
        position: relative;
        &.nav-divider {
            padding-top: 10px;
        }
    }
    a {
        display: block;
        padding: 10px 20px;
        color: #333;
        text-decoration: none;
        transition: all 0.3s ease;
        &:hover {
            color: #fff;
            background-color: #333;
            text-decoration: none;
            transition: all 0.3s ease;
        }
    }
}

/*--- Dropdown ---*/
.lg-nav ul {
    background-color: #fff;
    background: rgba(255,255,255,0); /* transparency between list items */
    list-style: none;
    position: absolute;
    left: -9999px; 
    li {
        padding-top: 1px;
        float: none;
    }
    a {
        white-space: nowrap;
    }
}
.lg-nav li {
    &:hover ul { /* Display the dropdown on hover */
        left: 0; 
        li a:hover { 
            background-color: #333;
            color: #fff;
        }
    }
    a { 
        background-color: #fff;
        color: #333;
        text-decoration: none;
    }
    ul a { 
        text-decoration: none;
    }
}

/* mobile */

